body {
    background-color: rgb(240,240,240);
}

div.jumbotron.logo {
    padding-left: 5%;
    background: url(../images/backdrop.png) center no-repeat;
    padding-top: 1em;
    padding-bottom: 2em;
    margin: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    font-weigth: 600;
    -webkit-text-stroke-width: 1.3pt;
    -webkit-text-stroke-color: white;
}

.jumbotron h1 {
    margin: 0;
    padding-top: 1em;
}

div.jumbotron.message {
    text-align: center;
}

div.row {
    width: 100%;
    margin: 0;
    padding: .5em;
    background: repeating-linear-gradient(
        30deg,
        #f5f5f5,
        #f5f5f5 10px,
        #e0e0e0 10px,
        #e0e0e0 20px
    );
}

div.dropdown {
    text-align: center;
    display: inline;
}

.table.table-striped tr {
    background: rgb(240,240,240)
}

.table.table-striped tr:hover {
    background: rgb(255,255,255);
}

.table th, td {
    text-align: center;
}

.measurement.ok {
    color: rgb(0,90,0);
}

.measurement.notice {
    color: rgb(95,95,50);
}

.measurement.warn {
    color: rgb(229,91,5);
}

.measurement.dangr {
    color: rgb(150,30,0);
}

.measurement.alarm {
    color: rgb(50,0,0);
}
